cd external_libs
git clone https://github.com/jamesjg/FoodSAM
git clone https://github.com/apple/ml-4m
git clone https://github.com/FoodOntology/foodon
cd ..

pip install Owlready2
pip install inflect

# A lancer dans powershell en admin :
gsutil -m rsync -r -x "imagery/side_angles/.*" gs://nutrition5k_dataset/nutrition5k_dataset/ "./data/raw/"


